<div class='cIndexContainer'>
    <div class='cCatHeaderContainer'>
        <h1 class='cHeader'> <%= @category.name %> </h1>
        <p> <%= @category.description %></p>
        <div class='cEditDeleteAddBtns'>
            <% if current_user.admin %> 
                <%= link_to edit_category_path(@category) do%>
                    <img src='../assets/edit.png' class='edit'/>
                <%end%>
                <%= link_to  category_path(@category), method: :delete do %>
                    <img src='../assets/delete.png' class='delete'/>
                <%end%>
            <% elsif %>
                <%= link_to category_tasks_path(@category.id) do %>
                    <img src='../assets/add.png' class='add'/>
                <%end%>
            <% end %>
        </div>
    </div>
    <div>
        <hr class='cLine'>
    </div>
    <div class='cTaskHeaderContainer'>
            <p class='cTaskHeader'>Task</p>
            <p class='cTaskHeader'>Date</p>
            <p class='cTaskHeader'>Rate</p>
            <p class='cTaskHeader'>Details</p>
        </div>
    <div>
        <hr class='cLine'>
    </div>
    <div class='cTaskContainer'>
        
        <% @tasks.each do |task|%> 
            <div class='cTask'>
                <p class='cTaskLabel'><%= link_to task.name, show_task_info_path(task.id, task.client_id), class:'cTaskLabel' %></p>
                <p class='cTaskLabel'><%= task.date %></p>
                <p class='cTaskLabel'><%= task.hourly_rate %></p>
                
                <% if current_user.admin %>
                    <td><%= link_to 'Delete', category_task_path(params[:id], task.id), method: :delete, class: "btn btn-outline-dark btn-sm" %></td>
                <% elsif current_user.helper%>
                    <td><%= link_to 'Apply', accept_task_path(@category, task.id), class: "btn btn-outline-dark btn-sm" %></td>
                <% elsif task.client_id == current_user.id %>    
                    <td><%= link_to 'Edit', edit_category_task_path(params[:id], task), class: "btn btn-outline-dark btn-sm" %></td>
                    <td><%= link_to 'Delete', category_task_path(params[:id], task),method: :delete, class: "btn btn-outline-dark btn-sm" %></td>
                <% end %>
            </div>
        <%end%>
    </div>

    

    <div>
        <%= link_to 'Back', category_index_path, class: "btn btn-outline-dark btn-sm" %>
    </div>
</div>