
<h1><%= @category.name %></h1>
<h5> Category description </h5>
<%= @category.description %><br />
</br>
<% if current_user.admin %> 
    <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-outline-dark btn-sm" %>
    <%= link_to 'Delete', category_path(@category), method: :delete,class: "btn btn-outline-dark btn-sm" %>
    <%= link_to 'Back', category_index_path, class: "btn btn-outline-dark btn-sm" %></br>
<% elsif current_user.helper %>
    <%= link_to 'Back', category_index_path, class: "btn btn-outline-dark btn-sm" %>
<% else %>
    <%= link_to 'Back', category_index_path, class: "btn btn-outline-dark btn-sm" %>
    <%= link_to 'Create Task', category_tasks_path(@category.id), class: "btn btn-outline-dark btn-sm" %>
<% end %>
</br>

<table class="table table-hover table-striped table-bordered table-sm">
    <tr class="table-dark">
        <th>Name</th>
        <th>Date</th>
        <th>Hourly Rate</th>
         <% if current_user.helper%>
            <th>Action</th>
        <% elsif current_user.admin %>
            <th></th>
        <% else %>
            <th>Action</th>
        <% end %>

    </tr>

    <% @tasks.each do |task|%> 
        <tr>
            <td><%= task.name %></td>
            <td><%= task.date %></td>
            <td><%= task.hourly_rate %></td>
            
            <% if current_user.admin %>
                <td><%= link_to 'View Task', show_task_info_path(task.id, task.client_id), class: "btn btn-outline-dark btn-sm" %>
                <%= link_to 'Delete', category_task_path(params[:id], task.id), method: :delete, class: "btn btn-outline-dark btn-sm" %></td>
            <% elsif current_user.helper%>
                <td><%= link_to 'View Task', show_task_info_path(task.id, task.client_id), class: "btn btn-outline-dark btn-sm" %>
                <%= link_to 'Apply', accept_task_path(@category, task.id), class: "btn btn-outline-dark btn-sm" %></td>
            <% elsif task.client_id == current_user.id %>
                <td><%= link_to 'View Task', show_task_info_path(task.id, task.client_id), class: "btn btn-outline-dark btn-sm" %>  
                <%= link_to 'Edit', edit_category_task_path(params[:id], task), class: "btn btn-outline-dark btn-sm" %>
                <%= link_to 'Delete', category_task_path(params[:id], task),method: :delete, class: "btn btn-outline-dark btn-sm" %></td>
            <% end %>
        </tr>  
    <%end%>
</table>