<h1> Category </h1>

<h5> Category name </h5>
<%= @category.name %><br />
<h5> Category description </h5>
<%= @category.description %><br />
</br>
<% if current_user.admin %>  
    <%= link_to 'Back', category_index_path, class: "btn btn-outline-dark btn-sm" %>
<% elsif current_user.helper %>
    <%= link_to 'Back', user_index_url, class: "btn btn-outline-dark btn-sm" %>
<% else %>
    <%= link_to 'Back', user_index_url, class: "btn btn-outline-dark btn-sm" %>
    <%= link_to 'Create Task', category_tasks_path(@category.id), class: "btn btn-outline-dark btn-sm" %>
<% end %>
</br>
</br>
</br>

<table class="table table-hover table-striped table-bordered table-sm">
    <tr class="table-dark">
        <th>Name</th>
        <th>Details</th>
        <th>Date</th>
        <th>Hourly Rate</th>
         <% if current_user.helper%>
            <th>Client Name</th>
        <% elsif current_user.admin %>
            <th></th>
        <% else %>
            <th></th>
            <th></th>
        <% end %>

    </tr>

    <% @tasks.each do |task|%> 
        <tr>
            <td><%= task.name %></td>
            <td><%= task.details %></td>
            <td><%= task.date %></td>
            <td><%= task.hourly_rate %></td>
            
            <% if current_user.admin %>
                <td><%= link_to 'Delete', category_task_path(params[:id], task.id), method: :delete, class: "btn btn-outline-dark btn-sm" %></td>
            <% elsif current_user.helper%>
                <td><%= link_to task.created_by, user_show_path(task.client_id)  %></td>
                <td><%= link_to 'Accept', accept_task_path(@category, task.id), class: "btn btn-outline-dark btn-sm" %></td>
            <% elsif task.client_id == current_user.id %>    
                <td><%= link_to 'Edit', edit_category_task_path(params[:id], task), class: "btn btn-outline-dark btn-sm" %></td>
                <td><%= link_to 'Delete', category_task_path(params[:id], task),method: :delete, class: "btn btn-outline-dark btn-sm" %></td>
            <% end %>
        </tr>  
    <%end%>
</table>