<h1> Category </h1>

<h5> Category name </h5>
<%= @category.name %><br />
<h5> Category description </h5>
<%= @category.description %><br />
</br>
</br>
</br>
</br>

<h1> Tasks </h1>
<%= form_for @task, url: category_tasks_path do |f| %>

    <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :details %><br/>
        <%= f.text_field :details %>
    </div>

    <div class="field">
        <%= f.label :date %><br/>
        <%= f.date_field :date %>
    </div>

    <div class="field">
        <%= f.label :hourly_rate %><br/>
        <%= f.number_field :hourly_rate %>
    </div>

    <div class="field">
        <%= f.hidden_field :created_by, value: current_user.first_name + ' ' + current_user.last_name%>
        <%= f.hidden_field :client_id, value: current_user.id %>
    </div>

    <div class="field">
        <%= f.label :longitude %><br/>
        <%= f.hidden_field :longitude, id:'task_longitude' %>
    </div>

    <div class="field">
        <%= f.label :latitude %><br/>
        <%= f.hidden_field :latitude, id:'task_latitude'  %>
    </div>

    <div class="actions">
        <%= f.submit "Create" %>
    </div>

    <%= link_to 'Back', category_path(@category.id), class: "btn btn-outline-dark btn-sm" %>

<% end %>
<div id='map'></div>

<br/>
<br/>


<table class="table table-hover table-striped table-bordered table-sm">
    <tr class="table-dark">
        <th>Name</th>
        <th>Details</th>
        <th>Date</th>
        <th>Hourly Rate</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th></th>
        <th></th>
    </tr>

    <% @tasks.each do |task|%>
        <% if task.created_by == current_user.first_name + ' ' + current_user.last_name %>    
            <tr>
                <td><%= task.name %></td>
                <td><%= task.details %></td>
                <td><%= task.date %></td>
                <td><%= task.hourly_rate %></td>
                <td><%= task.longitude %></td>
                <td><%= task.latitude %></td>
                <td><%= link_to 'Edit', edit_category_task_path(params[:category_id], task), class: "btn btn-outline-dark btn-sm" %></td>
                <td><%= link_to 'Delete', category_task_path(params[:category_id], task),method: :delete, class: "btn btn-outline-dark btn-sm" %></td>
            </tr>  
        <%end%> 
    <%end%>
</table>