<%
=begin%>
 <h1>Admin Landing Page</h1> 
<%
=end%>
<div class='adminIndexContainer'>
    <div class='aHeaderContainer'>
        <h3><class='aHeader'>Pending Users:<%= @users.where(:user_status => "Pending").count %></h3>
    </div>
    <div class='aPendingContainer'>
        <table class="table table-hover table-striped table-bordered table-sm">
            <tr class="table-dark">
                <th>Name</th>
                <th>Email</th>
                <th colspan="1"></th>
            </tr>

            <% @users.each do |user|%>
                <% if user.user_status == 'Pending' %>
                    <tr>
                        <td><%= user.first_name %> <%= user.last_name %></td>
                        <td><%= user.email %></td>
                        <td class="d-inline justify-content-lg-center">
                                <%= link_to 'Review', admin_path(user.id), class: "btn btn-outline-dark btn-sm" %>
                        </td>
                    </tr>    
                <%end%>
            <%end%>
            
        </table>
    </div>
</div>