<div class='aApprovedContainer'>  
    <div class='aFloatContainer'>
        <div class='aSwitchContainer'>
            <div id="slider"></div>
            <button type="button" class="aToggleBtn" onclick="Client()">CLIENTS</button>
            <button type="button" class="aToggleBtn" onclick="Helper()"> HELPERS</button>
            
        </div>

        <div class='aLineBreak'>
                <hr class='aLine'>
        </div>

        <div class='aUserTypeContainer' id='client'>   
                 <div class='aContainer'>
                    <% @user.each do |user|%>
                        <% if user.user_status == 'Approved' && user.admin == false && user.helper == false%>
                        <div class='aApprovedUsers'>
                            <div class='aApprovedNamesContainer'>
                                <p><svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_139_511)">
                                            <path d="M14.9593 0.452515C6.69551 0.452515 0 6.73159 0 14.4814C0 22.2313 6.69551 28.5104 14.9593 28.5104C23.2232 28.5104 29.9187 22.2313 29.9187 14.4814C29.9187 6.73159 23.2232 0.452515 14.9593 0.452515ZM14.9593 5.88307C17.8909 5.88307 20.2675 8.11186 20.2675 10.8611C20.2675 13.6103 17.8909 15.8391 14.9593 15.8391C12.0278 15.8391 9.65119 13.6103 9.65119 10.8611C9.65119 8.11186 12.0278 5.88307 14.9593 5.88307ZM14.9593 25.3426C11.4186 25.3426 8.24573 23.8378 6.12247 21.4846C7.25648 19.4821 9.47626 18.1018 12.064 18.1018C12.2087 18.1018 12.3535 18.1244 12.4923 18.164C13.2764 18.4016 14.0968 18.5544 14.9593 18.5544C15.8219 18.5544 16.6483 18.4016 17.4264 18.164C17.5652 18.1244 17.7099 18.1018 17.8547 18.1018C20.4424 18.1018 22.6622 19.4821 23.7962 21.4846C21.6729 23.8378 18.5001 25.3426 14.9593 25.3426Z" fill="black"/>
                                        </g>
                                    </svg>
                                    </p>
                                <p class='aApprovedNames'><%= user.first_name %></p> 
                                <p class='aApprovedNames'><%= user.last_name %></p>
                            </div>
                            <p class='aInfo'>
                                        <%= link_to  admin_path(user.id) do %>
                                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class='aInfo'>
                                                <path d="M12.8994 0C6.21696 0 0.798889 5.42397 0.798889 12.1094C0.798889 18.7987 6.21696 24.2188 12.8994 24.2188C19.5819 24.2188 25 18.7987 25 12.1094C25 5.42397 19.5819 0 12.8994 0ZM12.8994 5.37109C14.0312 5.37109 14.9487 6.28926 14.9487 7.42188C14.9487 8.55449 14.0312 9.47266 12.8994 9.47266C11.7676 9.47266 10.8502 8.55449 10.8502 7.42188C10.8502 6.28926 11.7676 5.37109 12.8994 5.37109ZM15.6318 17.7734C15.6318 18.097 15.3697 18.3594 15.0463 18.3594H10.7526C10.4292 18.3594 10.1671 18.097 10.1671 17.7734V16.6016C10.1671 16.278 10.4292 16.0156 10.7526 16.0156H11.3381V12.8906H10.7526C10.4292 12.8906 10.1671 12.6283 10.1671 12.3047V11.1328C10.1671 10.8092 10.4292 10.5469 10.7526 10.5469H13.8753C14.1986 10.5469 14.4608 10.8092 14.4608 11.1328V16.0156H15.0463C15.3697 16.0156 15.6318 16.278 15.6318 16.6016V17.7734Z" fill="#1F75C0"/>
                                            </svg>
                                        <% end %>
                                </p>
                        </div>
                        <%end%>
                    <%end%>
                </div>
        </div>
        <div class='aUserTypeContainer' id='helper'>   
                <div class='aContainer'>
                <% @user.each do |user|%>
                    <% if user.user_status == 'Approved' && user.helper%>
                           <div class='aApprovedUsers'>
                            <div class='aApprovedNamesContainer'>
                                <p><svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_139_511)">
                                            <path d="M14.9593 0.452515C6.69551 0.452515 0 6.73159 0 14.4814C0 22.2313 6.69551 28.5104 14.9593 28.5104C23.2232 28.5104 29.9187 22.2313 29.9187 14.4814C29.9187 6.73159 23.2232 0.452515 14.9593 0.452515ZM14.9593 5.88307C17.8909 5.88307 20.2675 8.11186 20.2675 10.8611C20.2675 13.6103 17.8909 15.8391 14.9593 15.8391C12.0278 15.8391 9.65119 13.6103 9.65119 10.8611C9.65119 8.11186 12.0278 5.88307 14.9593 5.88307ZM14.9593 25.3426C11.4186 25.3426 8.24573 23.8378 6.12247 21.4846C7.25648 19.4821 9.47626 18.1018 12.064 18.1018C12.2087 18.1018 12.3535 18.1244 12.4923 18.164C13.2764 18.4016 14.0968 18.5544 14.9593 18.5544C15.8219 18.5544 16.6483 18.4016 17.4264 18.164C17.5652 18.1244 17.7099 18.1018 17.8547 18.1018C20.4424 18.1018 22.6622 19.4821 23.7962 21.4846C21.6729 23.8378 18.5001 25.3426 14.9593 25.3426Z" fill="black"/>
                                        </g>
                                    </svg>
                                    </p>
                                <p class='aApprovedNames'><%= user.first_name %></p> 
                                <p class='aApprovedNames'><%= user.last_name %></p>
                            </div>
                            <p class='aInfo'>
                                        <%= link_to  admin_path(user.id) do %>
                                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class='aInfo'>
                                                <path d="M12.8994 0C6.21696 0 0.798889 5.42397 0.798889 12.1094C0.798889 18.7987 6.21696 24.2188 12.8994 24.2188C19.5819 24.2188 25 18.7987 25 12.1094C25 5.42397 19.5819 0 12.8994 0ZM12.8994 5.37109C14.0312 5.37109 14.9487 6.28926 14.9487 7.42188C14.9487 8.55449 14.0312 9.47266 12.8994 9.47266C11.7676 9.47266 10.8502 8.55449 10.8502 7.42188C10.8502 6.28926 11.7676 5.37109 12.8994 5.37109ZM15.6318 17.7734C15.6318 18.097 15.3697 18.3594 15.0463 18.3594H10.7526C10.4292 18.3594 10.1671 18.097 10.1671 17.7734V16.6016C10.1671 16.278 10.4292 16.0156 10.7526 16.0156H11.3381V12.8906H10.7526C10.4292 12.8906 10.1671 12.6283 10.1671 12.3047V11.1328C10.1671 10.8092 10.4292 10.5469 10.7526 10.5469H13.8753C14.1986 10.5469 14.4608 10.8092 14.4608 11.1328V16.0156H15.0463C15.3697 16.0156 15.6318 16.278 15.6318 16.6016V17.7734Z" fill="#1F75C0"/>
                                            </svg>
                                        <% end %>
                                </p>
                    <%end%>
                <%end%>
            </div>
        </div>
    </div>
</div>

<script>
    var client = document.getElementById("client");
    var helper = document.getElementById("helper");
    var slider = document.getElementById("slider");

    function Helper () {
        client.style.opacity = "0";
        helper.style.opacity = "1";
        slider.style.left = "50%";
    }

    function Client () {
        client.style.opacity = "1";
        helper.style.opacity = "0";
        slider.style.left = "0";
    }
</script>