<div class='adminIndexContainer'>  
    <div class='aUserTypeContainer'>
        <div class='aHeaderContainer'>
            <h2 class='aHeader'>Clients</h2>
        </div>
        <div>
            <hr class='aLine'>
        </div>
        <div>
            <% @user.each do |user|%>
                <% if user.user_status == 'Approved' && user.admin == false && user.helper == false%>
                        <p><%= user.first_name %> <%= user.last_name %></p>
                        <p class="d-inline justify-content-lg-center">
                                <%= link_to 'Review', admin_path(user.id), class: "btn btn-outline-dark btn-sm" %>
                        </p>
                <%end%>
            <%end%>
        </div>
    </div>

    <div class='d-none aUserContainer'>
        <div class='aHeaderContainer'>
            <h2 class='aHeader'>Clients</h2>
        </div>
        <div>
            <hr class='aLine'>
        </div>
        <div>
            <% @user.each do |user|%>
                <% if user.user_status == 'Approved' && user.helper%>
                        <p><%= user.first_name %> <%= user.last_name %></p>
                        <p class="d-inline justify-content-lg-center">
                                <%= link_to 'Review', admin_path(user.id), class: "btn btn-outline-dark btn-sm" %>
                        </p>
                <%end%>
            <%end%>
        </div>
    </div>

</div>