<%= form_with url: helper_patch_additional_info_path do |f| %>
    <div class="field">
        <%= f.label :mobile_number %><br />
        <%= f.text_field :mobile_number%>
    </div>

    <div class="actions">
        <%= f.submit 'Update' %>
    </div>

 <% end %>

 <%= form_with url: attachments_path do |f| %>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image%>
    </div>
  
    <div class="field">
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>

 <% end %>