<h1><center>Helper Landing Page</center></h1>

<h3>Applied Tasks</h3>
<br>
<h2>Ongoing</h2>
<table class="table table-hover table-striped table-bordered table-sm">
    <tr class="table-dark">
        <th>Task Name</th>
        <th>Date</th>
        <th>Rate</th>
    </tr>

    <% @tasks.each do |task|%>
        <% array = task.helper_applicants.to_a %>
        <% if array.include?(current_user.id) == true && task.helper_id == nil%> 
        <tr>
            <td><%= link_to task.name, show_task_info_path(task.id, task.client_id) %></td>
            <td><%= task.date %></td>
            <td><%= task.hourly_rate %></td>
        </tr>
        <%end%>
    <% end %>
</table>
<br>

<br>
<h3>Pending Tasks</h3>
<table class="table table-hover table-striped table-bordered table-sm">
    <tr class="table-dark">
        <th>Task Name</th>
        <th>Date</th>
        <th>Rate</th>
        <th></th>
    </tr>


    <% @tasks.each do |task|%>
        <% if task.helper_id == current_user.id && task.task_status == "Approved" %>
        <tr>
            <td><%= link_to task.name, show_task_info_path(task.id, task.client_id) %></td>
            <td><%= task.date %></td>
            <td><%= task.hourly_rate %></td>
            <td><%= link_to 'Complete', complete_task_path(task.id) %></td>
        </tr>
        <%end%>
    <% end %>
</table>
<br>
<br>
<h2>Past</h2>
<h3>Accomplished Tasks</h3>
<table class="table table-hover table-striped table-bordered table-sm">
    <tr class="table-dark">
        <th>Task Name</th>
        <th>Date</th>
        <th>Rate Client</th>
    </tr>


    <% @tasks.each do |task|%>
        <% if task.helper_id == current_user.id && task.task_status == "Completed" || task.helper_id == current_user.id && task.task_status == "Finished" %>
        <tr>            
            <td><%= link_to task.name, show_task_info_path(task.id, task.client_id) %></td>
            <td><%= task.date %></td>
            <% if task.rated_by_helper? %>
                <td>Done</td>
            <% else %>
                <td><%= link_to 'Rate Client', get_rate_client_path(task.id, task.client_id) %></td>
            <% end %>
        </tr>
        <%end%>
    <% end %>
</table>