<h1>Task Information</h1>
<br>
<br>
<h2><%= @task.name %></h2>
<h4>Details</h4>
<%= @task.details %>
<br>
<br>
<h4>Date</h4>
<%= @task.date %>
<br>
<br>
<h4>Rate</h4>
<%= @task.hourly_rate %>
<br>
<br>
<br>
<br>
<h1>Client Information</h1>
<h2><%= @client.first_name + ' ' + @client.last_name%></h2>
<h4>Email</h4>
<%= @client.email %>
<br>
<br>
<h4>Rating</h4>
<% array = @client.rating.to_a %>
<% if array.length == 0 %>
    <% ave = 0 %>
<% else %>
    <% ave = array.sum/array.length %>
<% end %>
<%= ave %><span>/5</span>
<br>
<br>

<br>
<%= link_to 'Back' , :back %>