<%
=begin%>
 <marquee>Hello</marquee>

<div class="container h-2/4 flex justify-center items-center ">
<h5><%= @user.first_name %></h1>
<h5><%= @user.last_name %></h1>
<h5><%= @user.email %></h1>
<br>

<%= link_to 'Back', :back %>

</div>
 
<%
=end%>


 <% if current_user.admin || current_user.helper %>
                <div class="container h-2/4 flex justify-center items-center ">
                    <h5><%= @user.first_name %></h5>
                    <h5><%= @user.last_name %></h5>
                    <h5><%= @user.email %></h5>
                    <h5><%= @user.balance %></h5>
                     <h5>bal</h5>
                    <br>
                    <%= link_to 'Back', :back %>
                </div>
            <% else %>    
                <div class="container h-2/4 flex justify-center items-center ">
                    <h5><%= @user.first_name %></h5>
                    <h5><%= @user.last_name %></h5>
                    <h5><%= @user.email %></h5>
                    <h5><%= @user.balance %></h5>
                    <h5>hidden bal</h5>
                    <br>
                    <%= link_to 'Back', :back %>
                </div>
            <% end %>