<div class='tIndexContainer'>
    <div class='tHeaderContainer'>
        <h2 class='tHeader'><%= @task.name %></h2>
    </div>
    <div>
        <hr class='aLine'>
    </div>
    <div class='tTaskContainer'>
        <div class='tInfoContainer'>
            <div class='aDetailContainer'>
                <p class='aInfoLabel'>Details:</p>
                <p class='aInfoDetail'><%= @task.details %></p>
            </div>
            <div class='aDetailContainer'>
                <p class='aInfoLabel'>Date:</p>
                <p class='aInfoDetail'><%= @task.date %></p>
            </div>
            <div class='aDetailContainer'>
                <p class='aInfoLabel'>Rate:</p>
                <p class='aInfoDetail'><%= @task.hourly_rate %></p>
            </div>
        </div>

        <p class='aInfoLabel'>Client Information</p>

        <div>
            <div class='aDetailContainer'>
                <p class='aInfoLabel'>Name:</p>
                <p class='aInfoDetail'><%= @client.first_name + ' ' + @client.last_name%></p>
            </div>
            <div class='aDetailContainer'>
                <p class='aInfoLabel'>Email:</p>
                <p class='aInfoDetail'><%= @client.email %></p>
            </div>
            <div class='aDetailContainer'>
                <p class='aInfoLabel'>Mobile Number:</p>
                <p class='aInfoDetail'><%= @client.mobile_number %></p>
            </div>
            <div class='aDetailContainer'>
                <p class='aInfoLabel'>Rating:</p>
                <p class='aInfoDetail'> 
                    <% array = @client.rating.to_a %>
                    <% if array.length == 0 %>
                        <% ave = 0 %>
                    <% else %>
                        <% ave = array.sum/array.length %>
                    <% end %>
                    <%= ave %>/5
                </p>
            </div>
        </div>
            <% if current_user.helper %>
                <%= link_to 'Apply', accept_task_path(@category, @task), class: "btn btn-outline-dark btn-sm" %>
                <%= link_to 'Back' , :back %>
            <% else current_user %>
                <%= link_to 'Edit', edit_category_task_path(@category, @task), class: "btn btn-outline-dark btn-sm" %>
                <%= link_to 'Delete', category_task_path(@category, @task),method: :delete, class: "btn btn-outline-dark btn-sm" %></td>
                <%= link_to 'Back' , :back %>
            <% end %>
    </div>
</div>