<% if user_signed_in? %>
  <nav class="desktopNavbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">   
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if current_user.admin %>
            <li class="nav-item">
              <%= link_to 'Pending Users', root_path, class:'nav-link'%>
            </li>

            <li class="nav-item">
              <%= link_to 'Approved Users', user_list_path, class:'nav-link'%>
            </li>
            
            <li class="nav-item">
              <%= link_to 'Category', category_index_path, class:'nav-link'%>
            </li>

            <li class="nav-item">
              <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:'nav-link'%>
            </li>

          <% elsif current_user.helper %>
            <% if current_user.mobile_number == nil %>
              <li class="nav-item">
                <%= link_to 'Update Account', edit_user_registration_path, class:'nav-link'%>
              </li>

              <li class="nav-item">
                <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:'nav-link'%>
              </li>

            <% else %>

              <li class="nav-item">
                <%= link_to 'Home', helper_index_path, class:'nav-link'%>
              </li>

              <li class="nav-item">
                <%= link_to 'Category', category_index_path(params[:id]), class:'nav-link'%>
              </li>

              <li class="nav-item">
                  <%= link_to 'Account', helper_path(current_user), class:'nav-link' %>
                </li>  

              <li class="nav-item">
                <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:'nav-link'%>
              </li>
            <% end %>
            <% else %>
              <% if current_user.mobile_number == nil %>
                <li class="nav-item">
                  <%= link_to 'Update Account', edit_user_registration_path, class:'nav-link'%>
                </li>

                <li class="nav-item">
                  <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:'nav-link'%>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Home', user_index_url, class:'nav-link'%>
                </li>

                <li class="nav-item">
                  <%= link_to 'Category', category_index_path(params[:id]), class:'nav-link'%>
                </li>

                <li class="nav-item">
                  <%= link_to 'My Account', user_show_path(current_user), class:'nav-link' %>
                </li> 

                <li class="nav-item">
                  <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:'nav-link'%>
                </li>
              <% end %>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
