<%= form_with url: client_patch_additional_info_path do |f| %>
    <div class="field">
        <%= f.label :mobile_number %><br />
        <%= f.text_field :mobile_number%>
    </div>

    <div class="field">
        <%= f.label :location %><br/>
        <%= f.text_field :location %>
    </div>
 
    <div class="actions">
        <%= f.submit 'Update' %>
    </div>

 <% end %>