<h1><center>Client Landing Page</center></h1>


<h3>Pending Tasks</h3>
<table class="table table-hover table-striped table-bordered table-sm">
    <tr class="table-dark">
        <th>Task Name</th>
        <th>Details</th>
        <th>Date</th>
        <th>Hourly Rate</th>
        <th>Helper ID</th>
        <th>Action</th>

    </tr>


    <% @tasks.each do |task|%>
        <% if task.created_by == current_user.first_name + ' ' + current_user.last_name %>
                <tr>
                    <td><%= task.name %></td>
                    <td><%= task.details %></td>
                    <td><%= task.date %></td>
                    <td><%= task.hourly_rate %></td>
                    <% if task.helper_id == nil %>
                        <td>No Helper Applicants</td>
                        <td>None </td>
                    <% else %>
                        <td><%= link_to task.helper_id, helper_path(task.helper_id)  %></td>
                        <td><%= link_to 'Accept', accept_helper_path(@categories, task.id),method: :patch, class: "btn btn-outline-dark btn-sm" %></td>
                    <% end %> 
                </tr>
        <%end%>
    <%end%>
</table>

<h3>Accomplished Tasks</h3>
