<h1><center>USER SHOW</center></h1>

<div class="container h-2/4 flex justify-center items-center ">
<h5><%= @user.first_name %></h5>
<h5><%= @user.last_name %></h5>
<h5><%= @user.email %></h5>
<h5><%= @balance %></h5>
<br>


<%= link_to 'Wallet', %>
<%= link_to 'Back', :back %>
</div>