

<h1><center>My Account</center></h1>

<center><div class="container h-2/4 flex justify-center items-center ">
<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<p><%= @user.email %></p>
<p><%= @user.mobile_number %></p>

<br>
        
<%= link_to 'Edit My Account', edit_user_registration_path%>


<h2> Current Balance </h2>
<h5><%= @balance %></h5>
<h3> Deposit Money </h3>
<%= form_with url: deposit_path do |f| %>

    <div class="field">
        <%= f.label :amount %><br/>
        <%= f.number_field :amount %>
    </div>   

    <div class="actions">
        <%= f.submit "Deposit" %>
    </div>

<% end %>

<br>
<h3> Withdraw Money </h3>
<%= form_with url: withdraw_path do |f| %>

    <div class="field">
        <%= f.label :amount %><br/>
        <%= f.number_field :amount %>
    </div>   

    <div class="actions">
        <%= f.submit "Withdraw" %>
    </div>

<% end %>

<%= link_to 'Back', :back %>
</div>

</center>
