<h1><center>Client BOKBOK</center></h1>

<div class="container h-2/4 flex justify-center items-center ">
<h5><%= @user.first_name %></h1>
<h5><%= @user.last_name %></h1>
<h5><%= @user.email %></h1>
<br>

<%= link_to 'Approve', approve_status_path(@user), class: "btn btn-outline-dark btn-sm" %>
<%= link_to 'Reject', reject_status_path(@user), class: "btn btn-outline-dark btn-sm" %>
<br>
<%= link_to 'Back', admin_index_path %>

</div>